127.0.0.1   localhost {{ ansible_hostname }} localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.4.0.30 ansible 	#ansible entry
10.4.0.31 rhvs1 	#ansible entry
10.4.0.32 rhvs2 	#ansible entry
10.4.0.33 rhvs3		#ansible entry
10.4.0.34 engine	#ansible entry
